@media screen and (max-width: 1024px){
    .imgContainer{
        display: none;
    }
}

.wrapper{
    padding: 80px;
}

.textContainer{
    flex:3;
}

.imgContainer{
    flex:2;
    position: relative;
}

.imgContainer img{
    max-width: 115%;
    position: absolute;
    right: 0px;
    display: flex;
    align-items: center;
}

@media screen and (max-width:768px){
    .boxes{
        display: none;
    }

    .wrapper{
        justify-content: flex-start;
        padding: 0px 40px;
    }
}
